:root,
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  /* fallback */
  line-height: 1.6;
  height: 100%;
  background-image: url("../img/mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h1,
h2,
h3 {
  font-weight: bold;
}

header .title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .title-logo .fa-solid {
  color: #ea9010;
}

header h1 {
  padding: 3rem 0;
  color: #ffffff;
  margin-left: 1rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding: 0.75rem;
}

header nav ul li a {
  text-decoration: none;
  color: #212121;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav ul li a:hover {
  color: #ea9010;
}

.container {
  max-width: 120rem;
  margin: 6rem auto;
  background-color: #212121;
  color: #ffffff;
  border-radius: 0.5rem;
}

.container .main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .main-area .sidebar {
  padding: 1rem;
  width: 25rem;
  color: #ea9010;
}

.container .main-area .sidebar ul li a {
  display: block;
  color: #ea9010;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0.1rem solid #ea9010;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 0.5rem;
}

.container .main-area .sidebar ul li a:hover, .container .main-area .sidebar ul li a:active, .container .main-area .sidebar ul li a.is-checked {
  background-color: #ea9010;
  color: #212121;
}

.container .main-area #map {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
  width: 80rem;
  height: 60rem;
  border-radius: 0 0 0.5rem 0;
}

.info-popup {
  color: #ea9010;
}

.info-popup h2 {
  border-bottom: 0.1rem solid #ea9010;
  background-color: #212121;
  padding: 1rem;
  text-align: center;
}

.info-popup .content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-popup .information-center {
  background-color: #212121;
}

.info-popup .information-center p {
  padding: 1rem;
  border-bottom: 0.1rem solid #ea9010;
}

.info-popup .information-center .links {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 4rem;
  margin-top: 3rem;
}

.info-popup .information-center .links a {
  text-decoration: none;
  color: #ea9010;
  background-color: #212121;
  padding: 1rem;
  border: 0.1rem solid #ea9010;
  border-radius: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: bold;
  font-size: 1.8rem;
}

.info-popup .information-center .links a:hover {
  background-color: #ea9010;
  color: #212121;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
  background: #ea9010;
}
/*# sourceMappingURL=styles.css.map */