@import "variables";
@import "header";

// styles
:root,
html {
    font-size: 62.5%;
}

// typography
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-size: 16px; /* fallback */
    line-height: 1.6;
    height: 100%;
    background-image: url("../img/mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.872rem;
}

h1,
h2,
h3 {
    font-weight: bold;
}

header {
    .title-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        .fa-solid {
            color: $themeColor;
        }
    }
    h1 {
        padding: 3rem 0;
        color: $lightColor;
        margin-left: 1rem;
    }
    nav {
        display: flex;
        justify-content: center;
        background-color: $lightColor;
        ul {
            display: flex;
            gap: 4rem;
            padding: 0.75rem;
            li {
                a {
                    text-decoration: none;
                    color: $darkColor;
                    transition: 0.2s;
                    &:hover {
                        color: $themeColor;
                    }
                }
            }
        }
    }
}

.container {
    max-width: 120rem;
    margin: 6rem auto;
    background-color: $darkColor;
    color: $lightColor;
    border-radius: 0.5rem;
    .main-area {
        display: flex;
        .sidebar {
            padding: 1rem;
            width: 25rem;
            color: $themeColor;
            ul {
                li {
                    a {
                        display: block;
                        color: $themeColor;
                        text-decoration: none;
                        text-align: center;
                        padding: 1rem;
                        transition: 0.2s;
                        border: 0.1rem solid $themeColor;
                        margin-bottom: 1rem;
                        font-weight: bold;
                        font-size: 1.8rem;
                        border-radius: 0.5rem;
                        &:hover,
                        &:active,
                        &.is-checked {
                            background-color: $themeColor;
                            color: $darkColor;
                        }
                    }
                }
            }
        }
        #map {
            flex-grow: 1;
            padding: 1rem;
            width: 80rem;
            height: 60rem;
            border-radius: 0 0 0.5rem 0;
        }
    }
}

// infowindow gmaps
.info-popup {
    color: $themeColor;
    h2 {
        border-bottom: 0.1rem solid $themeColor;
        background-color: $darkColor;
        padding: 1rem;
        text-align: center;
    }
    .content-flex {
        display: flex;
    }
    .information-center {
        background-color: $darkColor;
        p {
            padding: 1rem;
            border-bottom: 0.1rem solid $themeColor;
        }
        .links {
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            gap: 4rem;
            margin-top: 3rem;
            a {
                text-decoration: none;
                color: $themeColor;
                background-color: $darkColor;
                padding: 1rem;
                border: 0.1rem solid $themeColor;
                border-radius: 0.5rem;
                transition: 0.2s;
                font-weight: bold;
                font-size: 1.8rem;
                &:hover {
                    background-color: $themeColor;
                    color: $darkColor;
                }
            }
        }
    }
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
    background: $themeColor;
}
